body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    color: #00008f;
}

.box1{
background-color: #0000b3;
}
.box2{
background-color: #1a1abb;
}
.box3{
background-color: #3333c2;
}
.box4{
background-color: #4d4dca;
}
.box5{
background-color: #6666d1;
}
.box6{
background-color: #8080d9;
}
.box7{
background-color: #9999e1;
}
.box8{
background-color: #b3b3e8;
}

.container{
    width: 980px;
    height: 800px;
    margin: 0 auto;
    border: 2px solid rgb(33, 235, 15);
    display: flex;
    /* de izquierda a derecha */
    /* flex-direction: row; */

    /* de derecha a izquierda */
    /* flex-direction: row-reverse; */

    /* de arriba hacia abajo */
    flex-direction: column;

    /* de abajo hacia arriba */
    /* flex-direction: column-reverse; */

    /* Para poder acomodar los objetos dentro de
       la pagina se usa WRAP */
    flex-wrap: wrap;  


}
.box{
    color: blanchedalmond;
    /* width: 350px; */
    height: 250px;
    text-align: center;
    font-size: 4rem;
}




























